<!DOCTYPE html>
<html>
<head>
    <title>Hello Mustache</title>
    <script src="webjars/hotwired__turbo/7.3.0/dist/turbo.es2017-umd.js" defer></script>
</head>
<body>

<h1>Hello {{name}}!</h1>
<hr/>

<a href="/view1">Krystian</a>
<span> | </span>
<a href="/view2">Michal</a>
</body>
</html>
